<div>
    <div class="leading-relaxed text-lg">
        <div class="text-center ">
            <h1 class="text-[2vw]"> Nuestros productos</h1>
            <p class="mb-10"> Descubre nuestra colección curada de productos para el cuidado personal.</p>
        </div>
        <div class="flex justify text-[1.5vw] space-x-2 mb-5 ml-12">
            <hr class="border-t bg-[#FF69B4] w-[0.3%] h-[1.5vw] ">
            <h3 class="">Cuidado de la Piel</h3>
        </div>

        <div class="flex justify-center space-x-10 space-y-20 mb-1">
            <div class="  w-[22vw] h-[27vw] rounded-[9px] shadow-lg ">
                <div class="flex justify-center items-center">
                    <img src="assets/images/cream.jpg" alt="crema" class=" w-[20vw] h-75  rounded-[9px] mt-[1vw] ">
                </div>
                <div class="p-[1vw]">
                    <p class="font-bold ">Crema Hidratante </p>
                    <p class="mb-6"> Hidratación profunda para una piel radiante.</p>
                </div>
                <div class="flex justify-center space-x-18 ">
                    <span class="text-4xl text-[#FF69B4] ">$25.500</span>
                    <button class="bg-[#FF69B4] font-bold py-1.5 px-4 rounded ">Añadir al carrito</button>
                </div>
            </div>
            <div class="  w-[22vw] h-[27vw] rounded-[9px] shadow-lg ">
                <div class="flex justify-center items-center">
                    <img src="assets/images/exfoliant.jpg" alt="exfoliante"
                        class=" w-[20vw] h-75  rounded-[9px] mt-[1vw] ">
                </div>
                <div class="p-[1vw]">
                    <p class="font-bold ">Exfoliante Suave </p>
                    <p class="mb-6"> Elimina células y renueva tu piel.</p>
                </div>
                <div class="flex justify-center space-x-18 ">
                    <span class="text-4xl text-[#FF69B4] ">$20.700</span>
                    <button class="bg-[#FF69B4] font-bold py-1.5 px-4 rounded ">Añadir al carrito</button>
                </div>
            </div>
            <div class="  w-[22vw] h-[27vw] rounded-[9px] shadow-lg ">
                <div class="flex justify-center items-center">
                    <img src="assets/images/oil.jpg" alt="aceite corporal"
                        class=" w-[20vw] h-75  rounded-[9px] mt-[1vw] ">
                </div>
                <div class="p-[1vw]">
                    <p class="font-bold ">Aceite Corporal Nutitivo </p>
                    <p class="mb-6"> Nutrición intensa para un cuerpo y piel suave.</p>
                </div>
                <div class="flex justify-center space-x-18 ">
                    <span class="text-4xl text-[#FF69B4] ">$45.000</span>
                    <button class="bg-[#FF69B4] font-bold py-1.5 px-4 rounded ">Añadir al carrito</button>
                </div>
            </div>
            <div class="  w-[22vw] h-[27vw] rounded-[9px] shadow-lg ">
                <div class="flex justify-center items-center">
                    <img src="assets/images/serum.jpg" alt="sérum rejuvenecedor"
                        class=" w-[20vw] h-75  rounded-[9px] mt-[1vw] ">
                </div>
                <div class="p-[1vw]">
                    <p class="font-bold ">Sérum Rejuvenecedor </p>
                    <p class="mb-0.3"> Revitaliza tu piel y devuelve su luminosidad natural. </p>
                </div>
                <div class="flex justify-center space-x-18 ">
                    <span class="text-4xl text-[#FF69B4] ">$35.800</span>
                    <button class="bg-[#FF69B4] font-bold py-1.5 px-4 rounded ">Añadir al carrito</button>
                </div>
            </div>
        </div>

        <div class="flex justify-center space-x-10 space-y-20 mb-10">
            <div class="  w-[22vw] h-[27vw] rounded-[9px] shadow-lg ">
                <div class="flex justify-center items-center">
                    <img src="assets/images/facial-toner.jpg" alt="tonico facial"
                        class=" w-[20vw] h-75  rounded-[9px] mt-[1vw] ">
                </div>
                <div class="p-[1vw]">
                    <p class="font-bold ">Tónico Facial </p>
                    <p class="mb-0.3"> Tonifica tu piel y mantiene su frescura todo el día.</p>
                </div>
                <div class="flex justify-center space-x-18 ">
                    <span class="text-4xl text-[#FF69B4] ">$18.900</span>
                    <button class="bg-[#FF69B4] font-bold py-1.5 px-4 rounded ">Añadir al carrito</button>
                </div>
            </div>
            <div class="  w-[22vw] h-[27vw] rounded-[9px] shadow-lg ">
                <div class="flex justify-center items-center">
                    <img src="assets/images/shower-gel.jpg" alt="gel de ducha"
                        class=" w-[20vw] h-75  rounded-[9px] mt-[1vw] ">
                </div>
                <div class="p-[1vw]">
                    <p class="font-bold ">Gel de Ducha </p>
                    <p class="mb-6"> Limpia suavemente la piel y relaja los sentidos.</p>
                </div>
                <div class="flex justify-center space-x-18 ">
                    <span class="text-4xl text-[#FF69B4] ">$40.000</span>
                    <button class="bg-[#FF69B4] font-bold py-1.5 px-4 rounded ">Añadir al carrito</button>
                </div>
            </div>
            <div class="  w-[22vw] h-[27vw] rounded-[9px] shadow-lg ">
                <div class="flex justify-center items-center">
                    <img src="assets/images/crema-manos.jpeg" alt="crema manos"
                        class=" w-[20vw] h-75  rounded-[9px] mt-[1vw] ">
                </div>
                <div class="p-[1vw]">
                    <p class="font-bold ">Crema de Manos Reparadora </p>
                    <p class="mb-6"> Suaviza y repara la piel seca de las manos.</p>
                </div>
                <div class="flex justify-center space-x-18 ">
                    <span class="text-4xl text-[#FF69B4] ">$63.200</span>
                    <button class="bg-[#FF69B4] font-bold py-1.5 px-4 rounded ">Añadir al carrito</button>
                </div>
            </div>
            <div class="  w-[22vw] h-[27vw] rounded-[9px] shadow-lg ">
                <div class="flex justify-center items-center">
                    <img src="assets/images/manteca-corporal.jpeg" alt="manteca corporal"
                        class=" w-[20vw] h-75  rounded-[9px] mt-[1vw] ">
                </div>
                <div class="p-[1vw]">
                    <p class="font-bold ">Manteca corporal </p>
                    <p class="mb-0.3"> Hidratación, nutrición intensa y reparación de la piel dañada. </p>
                </div>
                <div class="flex justify-center space-x-18 ">
                    <span class="text-4xl text-[#FF69B4] ">$60.000</span>
                    <button class="bg-[#FF69B4] font-bold py-1.5 px-4 rounded ">Añadir al carrito</button>
                </div>
            </div>
        </div>

         <div class="flex justify text-[1.5vw] space-x-2 mb-5 ml-12">
            <hr class="border-t bg-[#FF69B4] w-[0.3%] h-[1.5vw] ">
            <h3 class="">Cuidado del Cabello </h3>
        </div>

        <div class="flex justify-center space-x-10 space-y-20 mb-10">
            <div class="  w-[22vw] h-[27vw] rounded-[9px] shadow-lg ">
                <div class="flex justify-center items-center">
                    <img src="assets/images/hair-mask.jpg" alt="mascarilla capilar"
                        class=" w-[20vw] h-75  rounded-[9px] mt-[1vw] ">
                </div>
                <div class="p-[1vw]">
                    <p class="font-bold ">Mascarilla Capilar </p>
                    <p class="mb-6"> Restaura el brillo y la suavidad de tu cabello.</p>
                </div>
                <div class="flex justify-center space-x-18 ">
                    <span class="text-4xl text-[#FF69B4] ">$29.900</span>
                    <button class="bg-[#FF69B4] font-bold py-1.5 px-4 rounded ">Añadir al carrito</button>
                </div>
            </div>
            <div class="  w-[22vw] h-[27vw] rounded-[9px] shadow-lg ">
                <div class="flex justify-center items-center">
                    <img src="assets/images/aceite-capilar.jpg" alt="aceite capilar"
                        class=" w-[20vw] h-75  rounded-[9px] mt-[1vw] ">
                </div>
                <div class="p-[1vw]">
                    <p class="font-bold ">Aceite Escencial Capilar </p>
                    <p class="mb-0.3"> Fortalece el cabello y estimula el cuero cabelludo.</p>
                </div>
                <div class="flex justify-center space-x-18 ">
                    <span class="text-4xl text-[#FF69B4] ">$12.100</span>
                    <button class="bg-[#FF69B4] font-bold py-1.5 px-4 rounded ">Añadir al carrito</button>
                </div>
            </div>
            <div class="  w-[22vw] h-[27vw] rounded-[9px] shadow-lg ">
                <div class="flex justify-center items-center">
                    <img src="assets/images/serum-capilar.jpg" alt="serum capilar"
                        class=" w-[20vw] h-75  rounded-[9px] mt-[1vw] ">
                </div>
                <div class="p-[1vw]">
                    <p class="font-bold ">Sérum Rejuvenecedor Capilar </p>
                    <p class="mb-6"> Aporta brillo y reduce el frizz.</p>
                </div>
                <div class="flex justify-center space-x-18 ">
                    <span class="text-4xl text-[#FF69B4] ">$24.000</span>
                    <button class="bg-[#FF69B4] font-bold py-1.5 px-4 rounded ">Añadir al carrito</button>
                </div>
            </div>
            <div class="  w-[22vw] h-[27vw] rounded-[9px] shadow-lg ">
                <div class="flex justify-center items-center">
                    <img src="assets/images/aceite-puntas.jpg" alt="aceite puntas"
                        class=" w-[20vw] h-75  rounded-[9px] mt-[1vw] ">
                </div>
                <div class="p-[1vw]">
                    <p class="font-bold ">Aceite natural para puntas </p>
                    <p class="mb-6">Sella y protege las puntas abiertas. </p>
                </div>
                <div class="flex justify-center space-x-18 ">
                    <span class="text-4xl text-[#FF69B4] ">$55.000</span>
                    <button class="bg-[#FF69B4] font-bold py-1.5 px-4 rounded ">Añadir al carrito</button>
                </div>
            </div>
        </div>

         <div class="flex justify text-[1.5vw] space-x-2 mb-5 ml-12">
            <hr class="border-t bg-[#FF69B4] w-[0.3%] h-[1.5vw] ">
            <h3 class="">Productos de Belleza</h3>
        </div>

        <div class="flex justify-center space-x-10 space-y-20">
            <div class="  w-[22vw] h-[27vw] rounded-[9px] shadow-lg ">
                <div class="flex justify-center items-center">
                    <img src="assets/images/crema-multi.jpg" alt="crema multiuso"
                        class=" w-[20vw] h-75  rounded-[9px] mt-[1vw] ">
                </div>
                <div class="p-[1vw]">
                    <p class="font-bold ">Crema Hidratante Multiuso </p>
                    <p class="mb-6"> Ideal para rostro y cuerpo.</p>
                </div>
                <div class="flex justify-center space-x-18 ">
                    <span class="text-4xl text-[#FF69B4] ">$33.000</span>
                    <button class="bg-[#FF69B4] font-bold py-1.5 px-4 rounded ">Añadir al carrito</button>
                </div>
            </div>
            <div class="  w-[22vw] h-[27vw] rounded-[9px] shadow-lg ">
                <div class="flex justify-center items-center">
                    <img src="assets/images/aceite-corpo.jpg" alt="aceite corporal"
                        class=" w-[20vw] h-75  rounded-[9px] mt-[1vw] ">
                </div>
                <div class="p-[1vw]">
                    <p class="font-bold ">Aceite Corporal Aromatico </p>
                    <p class="mb-6"> Mejora la elasticidad de la piel y relaja. </p>
                </div>
                <div class="flex justify-center space-x-18 ">
                    <span class="text-4xl text-[#FF69B4] ">$73.500</span>
                    <button class="bg-[#FF69B4] font-bold py-1.5 px-4 rounded ">Añadir al carrito</button>
                </div>
            </div>
            <div class="  w-[22vw] h-[27vw] rounded-[9px] shadow-lg ">
                <div class="flex justify-center items-center">
                    <img src="assets/images/tonico-facial.jpg" alt="tonico facial"
                        class=" w-[20vw] h-75  rounded-[9px] mt-[1vw] ">
                </div>
                <div class="p-[1vw]">
                    <p class="font-bold ">Tónico Facial Refrescante </p>
                    <p class="mb-0.3"> Perfecto para preparar la piel antes del maquillaje.</p>
                </div>
                <div class="flex justify-center space-x-18 ">
                    <span class="text-4xl text-[#FF69B4] ">$39.800</span>
                    <button class="bg-[#FF69B4] font-bold py-1.5 px-4 rounded ">Añadir al carrito</button>
                </div>
            </div>
            <div class="  w-[22vw] h-[27vw] rounded-[9px] shadow-lg ">
                <div class="flex justify-center items-center">
                    <img src="assets/images/serum-ilum.jpg" alt="serum iluminador"
                        class=" w-[20vw] h-75  rounded-[9px] mt-[1vw] ">
                </div>
                <div class="p-[1vw]">
                    <p class="font-bold ">Sérum Iluminador </p>
                    <p class="mb-6"> Aporta un efecto glow natural. </p>
                </div>
                <div class="flex justify-center space-x-18 ">
                    <span class="text-4xl text-[#FF69B4] ">$110.400</span>
                    <button class="bg-[#FF69B4] font-bold py-1.5 px-4 rounded ">Añadir al carrito</button>
                </div>
            </div>
        </div>

    </div>
</div>