<div class="bg-[var(--white-beauty)] font-[Nunito Sans] m-0 p-0 box-border">
    <div class="w-full overflow-hidden relative">
        <ul class="flex animate-slide">
            <li class="w-full shrink-0 relative ">
                <img class="w-full h-[817px] object-cover " src="/assets/images/1.jpg" alt="">
                <div class="absolute inset-0 flex flex-col justify-center items-center p-[3vw] bg-black/30 text-white">
                    <h2 class="font-bold text-[5vw] pb-[4vw]">Bienvenido a Beauty Spa</h2>
                    <p class="text-[1.4vw] pb-[2vw] text-center">Tu oasis de tranquilidad y belleza. Descubre nuestros
                        tratamientos <br><br> personalizados y productos de alta calidad.</p>
                    <div class="text-[1vw]">
                        <button
                            class="cursor-pointer bg-[#f9b9d9] p-[1vw] rounded-3xl w-[11vw] font-semibold text-[var(--dark-beauty-text)] ">Explorar
                            Servicios</button>
                    </div>
                </div>
            </li>
            <li class="w-full shrink-0 relative ">
                <img class="w-full h-[817px] object-cover " src="/assets/images/3.jpg" alt="">
                <div class="absolute inset-0 flex flex-col justify-center items-center p-[3vw] bg-black/30 text-white">
                    <h2 class="font-bold text-[5vw] pb-[4vw]">Relájate y Renueva</h2>
                    <p class="text-[1.4vw] pb-[2vw] text-center">Tratamientos de spa diseñados para tu bienestar y
                        descanso.</p>
                    <div class="text-[1vw]">
                        <button
                            class="cursor-pointer bg-[#f9b9d9] p-[1vw] rounded-3xl w-[11vw] font-semibold text-[var(--dark-beauty-text)] ">Explorar
                            Servicios</button>
                    </div>
                </div>
            </li>
            <li class="w-full shrink-0 relative ">
                <img class="w-full h-[817px] object-cover " src="/assets/images/2.jpg" alt="">
                <div class="absolute inset-0 flex flex-col justify-center items-center p-[3vw] bg-black/30 text-white">
                    <h2 class="font-bold text-[5vw] pb-[4vw]">Cuidado y Belleza</h2>
                    <p class="text-[1.4vw] pb-[2vw] text-center">Manicure, pedicure y más servicios de alta calidad.</p>
                    <div class="text-[1vw]">
                        <button
                            class="cursor-pointer bg-[#f9b9d9] p-[1vw] rounded-3xl w-[11vw] font-semibold text-[var(--dark-beauty-text)] ">Explorar
                            Servicios</button>
                    </div>
                </div>
            </li>
        </ul>
    </div>
    <div class="flex justify-center items-center py-[4vw]">
        <div class="text-[2vw]">
            <p>Nuestros Servicios</p>
        </div>
        <div>
            
        </div>
    </div>
</div>