@keyframes slide {
    0%, 20% {
        transform: translateX(0%);
    }

    25%, 45% {
        transform: translateX(-100%);
    }

    50%, 70% {
        transform: translateX(-200%);
    }

    75%, 100% {
        transform: translateX(0%);
    }
}



.animate-slide {
    animation: slide 15s infinite ease-in-out;
    width: 100%;
    display: flex;
}