

  <!-- Main Content -->
  <div class="max-w-3xl mx-auto px-6 py-12">
    <div class="text-3xl font-bold mb-4">Políticas de Privacidad</div>
    <div class="text-sm text-gray-500 mb-6">Última actualización: 14 de marzo, 2025</div>

    
    <div class="mb-6 ">Bienvenido a Beauty Spa. Nos comprometemos a proteger su privacidad. Esta politica explica cómo recopilamos, 
      usamos, divulgamos y salvaguardamos su infomación cuando visita nuestro sitio web.</div>
    
    <div class="space-y-6">
      <div>
        <div class="font-semibold text-lg mb-2 text-[#FF69B4]" >1. Información que Recopilamos</div>
        <div>Podemos recopilar información sobre usted de varias maneras. La información que podemos recopilar en el sitio
          incluye: Datos personales (información de identificación personal, como el nombre, dirección de correo electronico
          y número de teléfono) que nos proporciona voluntariamente, y datos de navegación (informaión que nuestro servidor
          recopila automaticamente cuando accede al sitio como su deirección IP y tipo de navegador).
        </div>
      </div>

      <div>
        <div class="font-semibold text-lg mb-2 text-[#FF69B4]">2. Cómo Usamos su Información</div>
        <div>Usamos su información que recopilamos para gestionar sus citas y reservas, enviar comunicaciones y ofertas de
          marketing (con su consentimiento), mejorar nuestros servicios y sitio web, y reponder a sus consultas y/o solicitudes
          de atención al cliente.
        </div>
      </div>

      <div>
        <div class="font-semibold text-lg mb-2 text-[#FF69B4]">3. Cómo Compartimos su Información</div>
        <div>No compartimos su información personal con terceros, excepto cunado sea ncesario para cumplir con la ley, para protejer
          nuestros derechos o con proveedores de servicios de confianza que nos asisten en la operación de nuestro sitio web, siempre y 
          cuando estas partes acuerden mantener esta informacion confidencial.
        </div>
      </div>

      <div>
        <div class="font-semibold text-lg mb-2 text-[#FF69B4]">4. Seguridad de sus Datos</div>
        <div>Implementamos una variedad de medidas de seguridad para mantener la seguridad de su información personal. Sin embargo,
          ningun metodo de transmición por internet o de alamcenamiento electronico es 100% seguro y no podemos garantizar
          su seguridad absoluta.
        </div>
      </div>

      <div>
        <div class="font-semibold text-lg mb-2 text-[#FF69B4]">5. Sus Derechos</div>
        <div>Usted tiene derecho a acceder, rectificar o cancelar su información personal en cualquier momento. También puede 
          optar por no recibir nuestras comunicaciones de marketing siguiendo las instrucciones de cancelación de suscripción 
          incluidas en esos correos electrónicos.
        </div>
      </div>

      <div>
        <div class="font-semibold text-lg mb-2 text-[#FF69B4]">6. Cambios en esta Política</div>
        <div>Nos reservamos el derecho de realizar cambios a esta politica de privacidad en cualquier momento, le notificaremos 
          sobre cualquier cambio publicando la nueva politica de privacidad en esta página.
        </div>
      </div>

      <div>
        <div class="font-semibold text-lg mb-2 text-[#FF69B4]">7. Contacto</div>
        <div>Si tiene alguna pregunta sobre esta politica de privacidad, puede contactarnos a través de nuestro
          correo electrónico: <span class="text-pink-500 font-semibold">privacidad@beautyspa.com</span>.</div>
      </div>
    </div>
  </div>
  