<!-- Componente de Contador HTML -->
<!-- Este componente permite al usuario aumentar o disminuir la cantidad de un producto en el carrito -->
<div class="flex items-center justify-end space-x-4 ">
    <!-- Botón para decrementar la cantidad -->
    <button class="h-8 w-8 rounded-full bg-gray-100 flex justify-center items-center cursor-pointer" (click)="decrement()">
        -
    </button>

    <span class="text-[0.8vw]">{{ value }}</span>

    <!-- Botón para incrementar la cantidad -->
    <button class="h-8 w-8 rounded-full bg-gray-100 flex justify-center items-center cursor-pointer" (click)="increment()">
        +
    </button>
</div>