<div class="flex items-center justify-center "></div>
<div class="font-[Nunito Sans] bg-[#faf7f7] p-[2vw]">
    <div class="flex items-center justify-center ">
        <hr class="bg-[var(--pink-beauty)] border-0 h-[0.1vw] w-[97%]  ">
    </div>
    <div class="flex justify-between items-center pt-[1vw] ">
        <div class=" text-[6vw]flex space-x-4">
            <a href="" class="">Politica de privacidad</a>
            <a href="" class="">Terminos y condiciones</a>
            <a href="" class="" (click)="navigateTo('contact')">Contacto</a>
        </div>

        <div class="text-sm">
            <p>© 2025 Beauty Spa. Todos los derechos reservados.</p>
        </div>
    </div>
</div>
