<div class=" w-full min-h-screen bg-[#fcf7f8] font-['Nunito_Sans']  ">
    <div class=" max-w-[85vw] mx-auto p-[2vw] ">

    <h1 class="pt-[4vw] font-serif font-bold text-black text-[3vw] mb-[1vw] text-center">Nuestros Servicios</h1>
    <p class="pt-[1vw] text-center text-[1vw] mb-[1vw] text-gray-800">
    Descubre una amplia gama de tratamientos diseñados para realzar tu bienestar y belleza natural.
    </p>

    <!-- CABELL0 -->
    <h1 class="pt-[4vw] font-serif font-bold text-black text-[2vw] mb-[1vw]">Cabello</h1>
    <div class="grid grid-cols-3 gap-[2vw]">

        <div class="bg-gray-100 shadow-md w-full rounded-[1vw] text-[1vw] flex flex-col">
            <img src="assets/images/Corte y Estilo.png"
            class="w-full h-[20vw] object-cover rounded-t-[1vw]">
            <div class="p-[2vw]">
                <h1 class="font-serif font-bold text-black text-[1.5vw] mb-[1vw]">Corte y Estilo</h1>
                <p class="text-[1vw] text-gray-800">Cortes modernos y peinados personalizados.</p>
        </div>
    </div>

    <div class="bg-gray-100 shadow-md w-full rounded-[1vw] text-[1vw] flex flex-col">
        <img src="assets/images/Coloración.png"
            class="w-full h-[20vw] object-cover rounded-t-[1vw]">
        <div class="p-[2vw]">
            <h1 class="font-serif font-bold text-black text-[1.5vw] mb-[1vw]">Coloración</h1>
            <p class="text-[1vw] text-gray-800">Coloración profesional para un look vibrante.</p>
        </div>
    </div>

    <div class="bg-gray-100 shadow-md w-full rounded-[1vw] text-[1vw] flex flex-col">
        <img src="assets/images/Tratamientos Capilares.png"
            class="w-full h-[20vw] object-cover rounded-t-[1vw]">

        <div class="p-[2vw]">
            <h1 class="font-serif font-bold text-black text-[1.5vw] mb-[1vw]">Tratamientos Capilares</h1>
            <p class="text-[1vw] text-gray-800">Tratamientos para nutrir y revitalizar el cabello.</p>
        </div>
    </div>
</div>


    <!-- UÑAS -->
    <h1 class="pt-[4vw] font-serif font-bold text-black text-[2vw] mb-[1vw]">Uñas</h1>

    <div class="grid grid-cols-3 gap-[2vw]">

        <div class="bg-gray-100 shadow-md w-full rounded-[1vw] text-[1vw] flex flex-col">
            <img src="assets/images/Manicura.png"
            class="w-full h-[20vw] object-cover rounded-t-[1vw]">
            <div class="p-[2vw]">
            <h1 class="font-serif font-bold text-black text-[1.5vw] mb-[1vw]">Manicura</h1>
            <p class="text-[1vw] text-gray-800">Manicura completa con esmaltado profesional.</p>
        </div>
    </div>

    
    <div class="bg-gray-100 shadow-md w-full rounded-[1vw] text-[1vw] flex flex-col">
        <img src="assets/images/Pedicura.png"
            class="w-full h-[20vw] object-cover rounded-t-[1vw]">
        <div class="p-[2vw]">
            <h1 class="font-serif font-bold text-black text-[1.5vw] mb-[1vw]">Pedicura</h1>
            <p class="text-[1vw] text-gray-800">Pedicura relajante con cuidado de pies.</p>
        </div>
    </div>


    <div class="bg-gray-100 shadow-md w-full rounded-[1vw] text-[1vw] flex flex-col">
        <img src="assets/images/Uñas Artificiales.png"
            class="w-full h-[20vw] object-cover rounded-t-[1vw]">
        <div class="p-[2vw]">
            <h1 class="font-serif font-bold text-black text-[1.5vw] mb-[1vw]">Uñas Artificiales</h1>
            <p class="text-[1vw] text-gray-800">Aplicación y diseño de uñas artificiales.</p>
        </div>
    </div>
</div>


<!-- OTROS TRATAMIENTOS -->
    <h1 class="pt-[4vw] font-serif font-bold text-black text-[2vw] mb-[1vw]">Otros Tratamientos</h1>

    <div class="grid grid-cols-3 gap-[2vw]">
        <div class="bg-gray-100 shadow-md w-full rounded-[1vw] text-[1vw] flex flex-col">
            <img src="assets/images/Faciales.png"
                class="w-full h-[20vw] object-cover rounded-t-[1vw]">

            <div class="p-[2vw]">
                <h1 class="font-serif font-bold text-black text-[1.5vw] mb-[1vw]">Faciales</h1>
                <p class="text-[1vw] text-gray-800">Tratamientos faciales personalizados.</p>
            </div>
    </div>

    <div class="bg-gray-100 shadow-md w-full rounded-[1vw] text-[1vw] flex flex-col">
        <img src="assets/images/Masajes.jpeg"
            class="w-full h-[20vw] object-cover rounded-t-[1vw]">

        <div class="p-[2vw]">
            <h1 class="font-serif font-bold text-black text-[1.5vw] mb-[1vw]">Masajes</h1>
            <p class="text-[1vw] text-gray-800">Masajes relajantes para aliviar estrés.</p>
        </div>
    </div>

    <div class="bg-gray-100 shadow-md w-full rounded-[1vw] text-[1vw] flex flex-col">
        <img src="assets/images/Depilacion.png"
            class="w-full h-[20vw] object-cover rounded-t-[1vw]">

        <div class="p-[2vw]">
            <h1 class="font-serif font-bold text-black text-[1.5vw] mb-[1vw]">Depilación</h1>
            <p class="text-[1vw] text-gray-800">Depilación con cera para una piel suave.</p>
        </div>
    </div>

</div>
