@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Playpen+Sans:wght@100..800&display=swap');



body {
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
}

:root {
    --pink-beauty: #f9ddeb;
    --default-border-radius: 7px;
}

:root {
    --dark-beauty-text: #333333;
}

:root {
    --white-beauty: #faf7f7;
}

html,
body {
    height: 100%;
}

body {
    margin: 0;
}

.mat-calendar {
    font-family: 'Nunito Sans', sans-serif;
    height: 23vw;
}

.mat-calendar-header,
.mat-calendar-body {
    font-family: 'Nunito Sans', sans-serif;
}

.mat-calendar-body-selected {
    background-color: #f3a1c4 !important;
    color: white !important;
    border: 2px solid #f3a1c4 !important;
    border-radius: 50% !important;
}

.mat-calendar-body-cell:hover {
    background-color: #fce7f3 !important;
}

.mat-calendar-header {
    background-color: #f3f0f0;
    color: #111827;
}

.mat-calendar-body-today {
    border-color: #f3a1c4 !important;
}

.mat-form-field {
    font-family: 'Nunito Sans', sans-serif;
}

mat-form-field {
    width: 100%;
    height: 3.4vw;
}

@keyframes slide {
    0% {
        transform: translateX(0%);
    }

    33% {
        transform: translateX(0%);
    }

    38% {
        transform: translateX(-100%);
    }

    71% {
        transform: translateX(-100%);
    }

    76% {
        transform: translateX(-200%);
    }

    100% {
        transform: translateX(-200%);
    }
}
.animate-slide {
    animation: slide 18s infinite ease-in-out;
}

.zoom-hover {
    transition: transform 0.4s ease; 
}

.zoom-hover:hover {
    transform: scale(1.05); 
}