<div class="flex items-center justify-center bg-[#faf7f7] font-['Nunito_Sans'] min-h-screen p-[2vw]">
    <div class="bg-[#f3a1c4] text-center shadow-md w-full max-w-[30vw] rounded-[1vw] p-[2vw] text-[1vw] flex flex-col items-center">
        
        <img src="assets/images/error-16-svgrepo-com.svg" 
            alt="Error" 
            class="w-[3vw] h-auto mb-[1vw]">

        <h1 class="font-serif font-bold text-red-800 text-[2.2vw] leading-none mb-[0.8vw]">
            ¡Oops!
        </h1>

        <p class="text-red-800 mb-[0.6vw] text-[1vw] leading-tight">
            Algo salió mal.
        </p>

        <p class="text-black mb-[1vw] text-[1vw] leading-tight">
            No pudimos encontrar la página que estás buscando.<br>
            Por favor, verifica la URL o vuelve al inicio.
        </p>

        <button class="bg-[#f9b5d7] text-black px-[1.2vw] py-[0.4vw] rounded-full cursor-pointer select-none text-[1vw]">
            Volver al inicio
        </button>
    </div>
</div>
